<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PluckStringNode</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
  <style>
      #code { padding: 0; margin: 0; background: white; border: none }
      #app { margin: 10px 0 }
      #app .btn { width: 100px }
    </style>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>pluck-string-node</h1>
      <div>
        <a href="https://travis-ci.org/mohayonao/pluck-string-node"><img src="https://img.shields.io/travis/mohayonao/pluck-string-node.svg?style=flat-square"/></a>
        <a href="https://www.npmjs.org/package/pluck-string-node"><img src="https://img.shields.io/npm/v/pluck-string-node.svg?style=flat-square"/></a>
        <a href="https://mohayonao.mit-license.org/"><img src="https://img.shields.io/badge/license-MIT-brightgreen.svg?style=flat-square"/></a>
      </div>
    </div>
    <div>Pluck String AudioNode for Web Audio API | <a href="https://github.com/mohayonao/pluck-string-node" target="github">GitHub</a></div>
    <div id="app">
      <div>
        <div class="form-group row">
          <div class="col-sm-2">
            <button class="btn btn-default" v-on:click="play">{{ isPlaying ? "Stop" : "Start" }}</button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Octave</label>
          <div class="col-sm-1">{{ octave }}</div>
          <div class="col-sm-9">
            <input type="range" class="form-control" min="-1" max="2" v-model="octave">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Color</label>
          <div class="col-sm-1">{{ color }}</div>
          <div class="col-sm-9">
            <input type="range" class="form-control" min="400" max="2000" step="50" v-model="color">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">TimeConstant</label>
          <div class="col-sm-1">{{ timeConstant }}</div>
          <div class="col-sm-9">
            <input type="range" class="form-control" min="0" max="20" step="0.5" v-model="timeConstant">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">example</h3>
        </div>
        <div class="panel-body">
          <pre class="prettyprint" id="code"></pre>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
  <script src="build/pluck-string-node.js"></script>
  <script>
  window.AudioContext = window.AudioContext || window.webkitAudioContext;

  window.addEventListener("DOMContentLoaded", function() {
    "use strict";

    window.app = new Vue({
      el: "#app",
      data: {
        isPlaying: false,
        octave: 0,
        color: 800,
        timeConstant: 5
      },
      methods: {
        play: function() {
          if (timerId === 0) {
            play();
          } else {
            pause();
          }
          this.isPlaying = timerId !== 0;
        }
      }
    });

    // code
    document.getElementById("code").textContent = document.getElementById("example").textContent;

    prettyPrint();
  });
  </script>
  <script id="example">
    var audioContext = new AudioContext();
    var timerId = 0;

    function pluck(destination, playbackTime, opts) {
      var duration = opts.duration;
      var t0 = playbackTime;
      var t1 = t0 + duration * 1.5;
      var pluck = new PluckStringNode(audioContext);
      var gain = audioContext.createGain();

      pluck.color = opts.color;
      pluck.timeConstant = opts.timeConstant;
      pluck.frequency.value = opts.frequency;
      pluck.start(t0);
      pluck.stop(t1);
      pluck.connect(gain);

      gain.gain.setValueAtTime(0.5, t0);
      gain.gain.linearRampToValueAtTime(0.0, t1);
      gain.connect(audioContext.destination);
    }

    function play() {
      var destination = audioContext.destination;
      var playbackTime = audioContext.currentTime;
      var chord = sample([
        [ 0, 4, 9, 11 ],
        [ 0, 2, 7, 11 ],
        [ 0, 2, 5, 11 ],
      ]);
      var duration = 1.0;

      chord.forEach(function(note, index) {
        var frequency = 220 * Math.pow(2, note / 12) * Math.pow(2, app.octave);
        var color = app.color;
        var timeConstant = app.timeConstant;

        pluck(destination, playbackTime + index * 0.03, {
          frequency   : frequency,
          duration    : duration,
          color       : color,
          timeConstant: timeConstant,
        });
      });

      timerId = setTimeout(play, duration * 1000);
    }

    function pause() {
      clearTimeout(timerId);
      timerId = 0;
    }

    function sample(list) {
      return list[(Math.random() * list.length)|0];
    }
  </script>
</body>
</html>
