<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PluckNode</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href=//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css>
  <style>
      #code { padding: 0; margin: 0; background: white; border: none }
      #app { margin: 10px 0 }
      #app .btn { width: 100px }
    </style>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>pluck-node</h1>
      <div>
        <a href="https://travis-ci.org/mohayonao/pluck-node"><img src="http://img.shields.io/travis/mohayonao/pluck-node.svg?style=flat-square"/></a>
        <a href="https://www.npmjs.org/package/pluck-node"><img src="http://img.shields.io/npm/v/pluck-node.svg?style=flat-square"/></a>
        <a href="http://mohayonao.mit-license.org/"><img src="http://img.shields.io/badge/license-MIT-brightgreen.svg?style=flat-square"/></a>
      </div>
    </div>
    <div>Pluck String AudioNode for Web Audio API | <a href="https://github.com/mohayonao/pluck-node" target="github">GitHub</a></div>
    <div id="app">
      <div>
        <div class="form-group row">
          <div class="col-sm-2">
            <button class="btn btn-default" v-on:click="play">{{ isPlaying ? "Stop" : "Start" }}</button>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Octave</label>
          <div class="col-sm-1">{{ octave }}</div>
          <div class="col-sm-9">
            <input type="range" class="form-control" min="-1" max="2" v-model="octave">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Color</label>
          <div class="col-sm-1">{{ color }}</div>
          <div class="col-sm-9">
            <input type="range" class="form-control" min="200" max="10000" v-model="color">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Decay Time</label>
          <div class="col-sm-1">{{ decayTime }}</div>
          <div class="col-sm-9">
            <input type="range" class="form-control" min="1" max="120" v-model="decayTime">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">example</h3>
        </div>
        <div class="panel-body">
          <pre class="prettyprint" id="code"></pre>
        </div>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
  <script src="//mohayonao.github.io/web-audio-scheduler/build/web-audio-scheduler.min.js"></script>
  <script src="build/pluck-node.js"></script>
  <script>
  window.AudioContext = window.AudioContext || window.webkitAudioContext;

  window.addEventListener("DOMContentLoaded", function() {
    "use strict";

    window.app = new Vue({
      el: "#app",
      data: {
        isPlaying: false,
        octave: 0,
        color: 400,
        decayTime: 20
      },
      methods: {
        play: function() {
          this.isPlaying = !this.isPlaying;

          if (this.isPlaying) {
            sched.start(compose);
          } else {
            sched.stop(true);
          }
        }
      }
    });

    // code
    document.getElementById("code").textContent = document.getElementById("example").textContent;

    prettyPrint();
  });
  </script>
  <script id="example">
    var audioContext = new AudioContext();
    var sched = new WebAudioScheduler({ context: audioContext });

    function pluck(e) {
      var t0 = e.playbackTime;
      var t1 = t0 + 1.5;
      var pluck = new PluckNode(audioContext, app.color, app.decayTime);
      var gain = audioContext.createGain();
      var freq = 220 * Math.pow(2, e.args.note / 12) * Math.pow(2, app.octave);

      pluck.frequency.setValueAtTime(freq, t0);
      pluck.frequency.exponentialRampToValueAtTime(freq * 1.01, t1);
      pluck.start(t0);
      pluck.stop(t1);
      pluck.connect(gain);

      gain.gain.setValueAtTime(0.6, t0);
      gain.gain.linearRampToValueAtTime(0.0, t1);
      gain.connect(audioContext.destination);
    }

    function compose(e) {
      var t0 = e.playbackTime;
      var chord = sample([
        [ 0, 4, 9, 11 ],
        [ 0, 2, 7, 11 ],
        [ 0, 2, 5, 11 ],
      ]);

      chord.forEach(function(note, index) {
        sched.insert(t0 + index * 0.025, pluck, { note: note });
      });

      sched.insert(t0 + 1, compose);
    }

    function sample(list) {
      return list[(Math.random() * list.length)|0];
    }
  </script>
</body>
</html>
